[Unit]
Description=DeskCam Fullscreen Viewer
After=network-online.target
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
Type=simple
User=pi
Group=pi
SupplementaryGroups=video render input
WorkingDirectory=/home/pi/deskcam
Environment=PYTHONUNBUFFERED=1
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/python3 -u /home/pi/deskcam/cam_display.py "http://YOUR_CAMERA/image.jpg" --interval 300
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
